registry=https://registry.npmjs.org

# Default for @renegade-fi packages
@renegade-fi:registry=https://registry.npmjs.org

# Specific registry for @renegade-fi/tradingview-charts
@renegade-fi/tradingview-charts:registry=https://npm.pkg.github.com

# Auth token for GitHub Package Registry
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}